header {
    background: blue;
}

h1 {
    display: inline;
}

#logo {
    width: 250px;
}

nav li {
        display: inline-block;
        position:absolute 
        right:30px;
        top:110px;
{
     /* display: inline */


     margin: 10px;
}

nav a{
    text-transform: uppercase;
    color: blue;
    font-weight: bold;
    font-size: 20px;
    text-decoration: none;
}